body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  line-height: 30px;
  font-size: 18px;
}

.hero {
  text-align: center;
  padding: 110px 20px 80px;
  background: rgb(252 131 131 / 48%);
}

.greeting {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
}

.profile-description {
  font-size: 24px;
  max-width: 45%;
  margin: 0 auto 60px;
}

.button {
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  text-align: center;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 45px;
}
.about-section strong {
  font-size: 18px;
}

.about-section p {
  font-size: 16px;
}

.about-section img {
  width: 550px;
  border-radius: 20px;
}

.profile-picture {
  text-align: right;
}

.about-section-content {
  margin: 30px;
}

.profile-picture img {
  width: 500px;
}

.about-me-description {
  padding: 70px 60px;
  text-align: center;
}

.my-projects-descriptions {
  text-align: center;
}

.more-projects {
  font-size: 36px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    padding: 30px 0;
    line-height: 1;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 60px 25px 50px;
  }

  .greeting {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
  }

  .profile-description {
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto 35px;
  }

  .profile-picture {
    text-align: center;
  }

  .profile-picture img {
    width: 300px;
    text-align: center;
  }

  .my-projects-descriptions {
    margin: auto 35px;
  }

  .my-projects-descriptions p {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .about-me-description {
    padding: 35px 35px 50px;
  }
}
