body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  line-height: 30px;
  font-size: 18px;
}

.hero {
  text-align: center;
  padding: 155px 20px 80px;
  background: rgb(252 131 131 / 48%);
}

.greeting {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
}

.profile-description {
  font-size: 24px;
  max-width: 45%;
  margin: 0 auto 60px;
}

.button {
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  text-align: center;
}

.content-container {
  padding: 140px 20px 0;
}

.homepage-container {
  padding: 0 20px 0;
}

.content {
  margin: 0 30px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.content-container h2 {
  font-size: 45px;
  text-align: center;
}

.content-container strong {
  font-size: 18px;
  text-align: center;
}

.content-container p {
  font-size: 16px;
  text-align: center;
}

.projects-list {
  padding: 0;
  margin: 0 40%;
}

.qualifications-list {
  padding: 0;
  margin: 0 0 0 33%;
}

.content-profile-picture {
  text-align: center;
}

.content-profile-picture img {
  width: 550px;
  border-radius: 20px;
}

.content-image {
  text-align: center;
}

.interests-image,
.qualifications-image {
  margin: 0 auto;
}

.content-image img {
  width: 450px;
  border-radius: 20px;
}

.interests-image {
  width: 550px;
  border-radius: 20px;
}
.qualifications-image {
  width: 450px;
  border-radius: 20px;
}

.interests-image-1 {
  border-top-left-radius: 16px;
}

.interests-image-2 {
  border-top-right-radius: 16px;
}

.interests-image-3 {
  border-bottom-left-radius: 16px;
}

.interests-image-4 {
  border-bottom-right-radius: 16px;
}

.project-image img {
  border-radius: 0;
}

.profile-picture {
  text-align: right;
}

.profile-picture img {
  width: 500px;
}

.about-me-description {
  padding: 70px 60px;
  text-align: center;
}

.my-projects-descriptions {
  text-align: center;
}

.more-projects {
  font-size: 36px;
}

footer {
  margin: 80px 0 60px;
}

footer p {
  font-size: 16px;
}

footer .contact-box {
  background: rgb(252 131 131 / 48%);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box h2 {
  font-size: 48px;
}

footer .contact-box p {
  margin: 0;
  text-align: left;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: #dc3545;
}

footer .social-links a {
  margin: 0 20px;
  color: #dc3545;
  background: white;
  border: 1px solid #dc3545;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: #dc3545;
}

@media (max-width: 1200px) {
  .content-container {
    margin: 120px auto;
    padding: 0;
  }

  .content {
    margin: 30px 0;
  }

  .content-container h1 {
    font-size: 50px;
    padding: 0;
  }

  .content-container h2 {
    font-size: 40px;
  }

  .content-image {
    order: 1;
  }

  .content-profile-picture img,
  .content-image img,
  .qualifications-image {
    width: 75%;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    padding: 30px 0;
    line-height: 1;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 140px 25px 50px;
  }

  .greeting {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
  }

  .content-container {
    margin: 40px auto;
    padding: 50px 15px 0;
  }

  .homepage-container {
    padding: 0 15px 0;
  }

  .content {
    margin: 20px 0;
  }

  .content-container h1 {
    font-size: 47px;
    line-height: 1.2;
    padding: 0;
  }

  .content-container h2 {
    font-size: 30px;
  }

  .qualifications {
    margin: 0 auto;
  }

  .content-image {
    order: 2;
  }

  .content-profile-picture img,
  .content-image img,
  .interests-image {
    width: 90%;
  }

  .qualifications-image {
    width: auto;
  }

  .profile-description {
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto 35px;
  }

  .profile-picture {
    text-align: center;
  }

  .profile-picture img {
    width: 300px;
    text-align: center;
  }

  .my-projects-descriptions {
    margin: auto 35px;
  }

  .my-projects-descriptions p {
    max-width: 500px;
    margin: 0 auto;
  }

  footer {
    margin: 60px 0 0;
  }

  footer .email-link {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .project-heading h1 {
    font-size: 46px;
  }

  .about-me-description {
    padding: 35px 35px 50px;
  }
}
